<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
   @* @Styles.Render("~/Content/css")*@
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <link href="~/Content/simplesidebar.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
     @* @Html.Partial("_AppMenu")*@


    <div id="threecolwrapper">
          <!-- Sidebar -->
      <div id="threecolsidebar-wrapper">
          @Html.Partial("_SidebarMenu")

      </div>
        <div id="secondSidebar-wrapper">
            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                </div>
                  <div class="list-group">
                  <a href="#" class="list-group-item"><i class="fa fa-envelope fa-fw"></i><span class="badge">2</span>Dapibus ac facilisis in</a>
                  <a href="#" class="list-group-item"><i class="fa fa-pencil fa-fw"></i>Morbi leo risus</a>
                  <a href="#" class="list-group-item"><i class="fa fa-book fa-fw"></i><span class="badge">4</span>Porta ac consectetur ac</a>
                  <a href="#" class="list-group-item"><i class="fa fa-shield fa-fw"></i>Vestibulum at eros</a>
                  </div>
            </div>
              <div class="list-group">
              <a href="#" class="list-group-item"><i class="fa fa-envelope fa-fw"></i><span class="badge">2</span>Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item"><i class="fa fa-pencil fa-fw"></i>Morbi leo risus</a>
              <a href="#" class="list-group-item"><i class="fa fa-book fa-fw"></i><span class="badge">4</span>Porta ac consectetur ac</a>
              <a href="#" class="list-group-item"><i class="fa fa-shield fa-fw"></i>Vestibulum at eros</a>
              </div>
        </div>

              <!-- Page content -->
      <div id="page-content-wrapper">
            <div class="page-content inset">
                @RenderBody()
            </div>
      </div>

        
    </div>


    @Scripts.Render("~/bundles/jquery")
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <!-- Put this into a custom JavaScript file to make things more organized -->
    <script>
        $("#menu-toggle").click(function (e) {
            console.log("clicked the thing")
            e.preventDefault();
            $("#threecolwrapper").toggleClass("active");

        });
    </script>
@*    	<script>
    	    jQuery(document).ready(function () {
    	        $(".open").click(function () {
    	            $(".sharepanel").slideToggle('1000', "swing");
    	        });

    	    });
	</script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
