<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
   @* @Styles.Render("~/Content/css")*@
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <link href="~/Content/simplesidebar.css" rel="stylesheet" />
    @*<link href="~/Content/DataTables-1.9.4/media/css/jquery.dataTables.css" rel="stylesheet" />*@
    <link href="~/Content/DataTableBootstrap.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
     @* @Html.Partial("_AppMenu")*@
@*    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- BEGIN LOGO -->
            <a class="navbar-brand" href="index.html">
                <img src="~/content/img/logo.png" alt="logo" /></a>
            <!-- END LOGO -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                 @Html.Partial("_TopTodoDropdown")
                 @Html.Partial("_TopUserDropdown")
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="open">App Menu <b class="caret"></b></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>*@

    <div id="wrapper">
          <!-- Sidebar -->
      <div id="sidebar-wrapper">
          @Html.Partial("_SidebarMenu")
      </div>

              <!-- Page content -->
      <div id="page-content-wrapper">
@*        <div class="content-header">
            <div class="row">
                <div class="col-md-6">*@
                    @*<a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-resize-horizontal"></i></a>*@

@*                </div>
                <div class="col-md-6">
                    <div id="user-container" class="pull-right">
                        <div class="dropdown">
                            <a class="user-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                                <h5 class="text-right"><i class="fa fa-user"></i> Michael Gilley</h5>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Go to another page</a></li>
                                <li><a href="#">Go to another page</a></li>
                                <li><a href="#">Go to another page</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@

@*          <h1>
            
            Simple Sidebar
          </h1>*@
        @*</div>*@
        <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                @RenderBody()
            </div>
      </div>

        
    </div>


    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <!-- Put this into a custom JavaScript file to make things more organized -->
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTableBootstrap.js"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            //console.log("clicked the thing")
            e.preventDefault();
            $("#wrapper").toggleClass("active");

        });
    </script>
@*    	<script>
    	    jQuery(document).ready(function () {
    	        $(".open").click(function () {
    	            $(".sharepanel").slideToggle('1000', "swing");
    	        });

    	    });
	</script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
